:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #242424;
  --popup-background-color: #242222;
  --white: #DDE6ED;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--popup-background-color);
}

body {
  position: relative;
  margin: 0;
  max-height: 100vh;
  background-color: var(--background-color);
  color: var(--white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


